<title>管理员登陆</title>

<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/login.css?v={{ layui.admin.v }}-1" media="all">
</script>

<style>

    .show {
        display: block;
    }

    .hide {
        display: none;;
    }
</style>
<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">

    <div class="layadmin-user-login-main login-content">
        <div class="layadmin-user-login-box layadmin-user-login-header">
            <h2>管理员登录</h2>
        </div>
        <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon-username layui-icon"
                       for="LAY-user-login-username"></label>
                <input class="layui-input" id="LAY-user-login-username" lay-verify="required" name="username"
                       placeholder="用户名" autocomplete="off" type="text">
            </div>
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                       for="LAY-user-login-password"></label>
                <input class="layui-input" id="LAY-user-login-password" lay-verify="required" name="password"
                       placeholder="密码" type="password">
            </div>
            <script type="text/html" template lay-url="/api/main/config/query"
                    lay-data="{key: 'IS_LOGIN_NEED_CAPTCHA'}" lay-type="post"lay-done="doCaptcha(d)">
                {{# if(d.data.value === 'TRUE'){ }}
                <div class="layui-form-item inputs" id="captcha-block">
                    <div id="embed-captcha" style="margin-right: 15px"></div>
                    <p id="wait" class="show">正在加载验证码......</p>
                </div>
                {{# } }}

            </script>

            <div class="layui-form-item" style="margin-bottom: 20px;">
                <input lay-skin="primary" name="remember" title="记住密码" type="checkbox">
                <a class="layadmin-user-jump-change layadmin-link" href="forget.html" style="margin-top: 7px;">忘记密码？</a>
            </div>
            <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" lay-filter="user-login-submit" lay-submit>登 录</button>
            </div>

        </div>
    </div>
</div>
<script src="static/comm/js/geetest.js"></script>
<script>

    function doCaptcha(d) {

        layui.use('common', layui.factory('common')).use(function () {
            var $ = layui.$
                ,router = layui.router()
                ,admin = layui.admin
                ,search = router.search;



            if (d.data.value === 'TRUE') {
                var handlerEmbed = function (captchaObj) {
                    layui.form.on('submit(user-login-submit)', function (formData) {
                        var validate = captchaObj.getValidate();
                        var field = formData.field;
                        if (!validate) {
                            alertFail("提示", "请先完成验证!");
                        } else {
                            $.ajax({
                                url: "/api/admin/login/captcha/verify",
                                type: 'post',
                                dataType: 'json',
                                data: {

                                    geetest_challenge: validate.geetest_challenge,
                                    geetest_validate: validate.geetest_validate,
                                    geetest_seccode: validate.geetest_seccode,
                                },
                                success: function (data) {
                                    if (data.status === "000000") {
                                        login(field, captchaObj);

                                    } else {
                                        alertFail("验证失败", "验证码验证失败，请刷新页面重试！")
                                        setTimeout(function () {
                                            admin.events.refresh();
                                            captchaObj && captchaObj.destroy();
                                        }, 1000);
                                    }


                                }
                            })
                        }
                    });
                    // 将验证码加到id为captcha的元素里，同时会有三个input的值：geetest_challenge, geetest_validate, geetest_seccode

                    captchaObj.appendTo("#embed-captcha");
                    captchaObj.onReady(function () {
                        $("#wait")[0].className = "hide";
                    });
                    // 更多接口参考：http://www.geetest.com/install/sections/idx-client-sdk.html
                };

                $.ajax({
                    // 获取id，challenge，success（是否启用failback）
                    url: "/api/admin/login/captcha/init?t=" + (new Date).getTime(), // 加随机数防止缓存
                    type: "get",
                    dataType: "json",
                    success: function (res) {
                        // 使用initGeetest接口
                        // 参数1：配置参数
                        // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它做appendTo之类的事件
                        initGeetest({
                            gt: res.gt,
                            challenge: res.challenge,
                            new_captcha: res.newCaptcha,
                            product: "float", // 产品形式，包括：float，embed，popup。注意只对PC版验证码有效
                            offline: !res.success,// 表示用户后台检测极验服务器是否宕机，一般不需要关注
                            width: '335px',
                        }, handlerEmbed);
                    },

                });
            } else {
                layui.form.on('submit(user-login-submit)', function (formData) {
                    var field = formData.field;
                    login(field);

                });
            }


            function login(field, captchaObj) {
                ajaxPost(
                    "/api/admin/login/auth",
                    JSON.stringify({
                        username: field.username,
                        password: field.password,
                    }),
                    "登录成功",
                    function () {
                        location.hash = search.redirect ? decodeURIComponent(search.redirect) : '/';
                    },
                    function () {
                        admin.events.refresh();
                        captchaObj && captchaObj.destroy();
                    }
                );
            }

        });
    }

</script>