<title>评论管理</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>文章管理</cite></a>
        <a><cite>评论管理</cite></a>
    </div>
</div>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header layuiadmin-card-header-auto layui-form">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">文章标题</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input search-comm" name="title" id="title" placeholder="请输入"
                               type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-comm search-btn" data-type="reload" lay-filter="contcomm-search"
                            lay-submit>
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
                <div class="layui-inline" style="position:absolute!important;right:20px;">
                    <input id="unread" lay-filter="comment-unread" lay-skin="switch" lay-submit lay-text="未读|全部"
                           name="unread" title="未读" type="checkbox"
                           value="1">
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layui-btn-danger layuiadmin-btn-comm" data-type="batchdel">删除</button>
                <button class="layui-btn layuiadmin-btn-comm" data-type="read">标记已读</button>
            </div>
            <table id="comment-table" lay-filter="content-comm"></table>
            <script id="table-content-com" type="text/html">
                {{#  if(d.artDelStatus !== '91'){ }}
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="reply"><i
                        class="layui-icon layui-icon-reply-fill"></i>回复</a>
                {{#  } }}

                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="view"><i
                        class="layui-icon layui-icon-form"></i>查看</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                        class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
        </div>
    </div>
</div>

<script>
    layui.use('comment', layui.factory('comment')).use(['admin', 'comment', 'form', 'table'], function () {
        var $ = layui.jquery
            , form = layui.form
            , element = layui.element;
            element.render();
            form.render();
    })
</script>