<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>文章快速编辑</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
          name="viewport">
    <link href="/static/plugins/layuiadmin/layui/css/layui.css" media="all" rel="stylesheet">
    <link href="/static/plugins/layuiadmin/style/admin.css" media="all" rel="stylesheet">
</head>
<body>

<div class="layui-form" id="layuiadmin-form-comment" lay-filter="layuiadmin-form-comment"
     style="padding: 20px 30px 0 0;">
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label">文章标题</label>
            <div class="layui-input-block">
                <input class="layui-input" name="title" autocomplete="off" lay-verify="required|maxLength" lay-max="50"
                       th:value="${article.title}" type="text">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">作者</label>
            <div class="layui-input-block">
                <input class="layui-input" name="author" autocomplete="off" lay-verify="required|maxLength" lay-max="10"
                       th:value="${article.author}" type="text">
            </div>
        </div>
        <div class="layui-form-item" id="ispublic-form">
            <label class="layui-form-label">文章权限</label>
            <div class="layui-input-block">
                <input class="ispublic-radio" id="public" lay-filter="public" name="isPublic"
                       th:checked="${article.visitType == 1 || article.visitType == 2}" title="公开"
                       type="radio" value="1">
                <span id="hometop1"><input id="hometop" lay-skin="primary" name="isPublic"
                                           th:checked="${article.visitType == 2}" title="将文章置于首页顶端"
                                           type="checkbox"
                                           value="2"></span><br>
                <input class="ispublic-radio" id="passw" lay-filter="passw" name="isPublic"
                       th:checked="${article.visitType == -1}"
                       title="密码保护"
                       type="radio"
                       value="-1"><br>
                <input autocomplete="off" class="layui-input passw"
                       id="passw-content"
                       name="passwContent" placeholder="密码" lay-verify="pass"
                       th:style="${article.visitType == -1 ? 'display: inline-block' : 'display: none'}"
                       th:value="${article.password}"
                       type="password">
                <input autocomplete="off" class="layui-input passw"
                       id="passw-content-confirm" lay-verify="repass"
                       name="passwContentConfirm" placeholder="确认密码"
                       th:style="${article.visitType == -1 ? 'display: inline-block' : 'display: none'}"
                       type="password">
                <input class="ispublic-radio" id="secret" lay-filter="secret" name="isPublic"
                       th:checked="${article.visitType == 0}"
                       title="私密" type="radio"
                       value="0">
            </div>
            <span id="pwd-tips-tags" style="color: red; display:none;margin-left: 110px"></span>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">文章标签</label>
            <div class="layui-input-block">
                <input class="tags" lay-skin="primary" name="tags" th:checked="${artTags.contains(tag.oid)}"
                       th:each="tag:${tags}" th:title="${tag.content}" th:value="${tag.oid}" type="checkbox">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">文章类别</label>
            <div class="layui-input-block">
                <select id="type" lay-search lay-verify="required|artType" name="type" th:field="${article.typeId}">
                    <option style="color: #777" value="-1"></option>
                    <option style="color: #777" th:each="menu:${menuList}" th:text="${menu.text}"
                            th:value="${menu.oid}"></option>
                </select>
            </div>
        </div>
        <span id="pwd-tips-type" style="color: red; display:none;margin-left: 110px"></span>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input id="isComment" name="isComment" th:checked="${article.isComment == 1}" title="是否可以评论"
                       type="checkbox" value="1">
            </div>
        </div>
        <input type="hidden" th:value="${subToken}" id="subToken" name="subToken">
        <div class="layui-form-item layui-hide">
            <label class="layui-form-label"></label>
            <div class="layui-input-inline">
                <input class="layui-btn" id="replyComm-submit" lay-filter="replyComm-submit" lay-submit
                       type="button" value="确认">
            </div>
        </div>
    </div>
</div>

<script src="/static/plugins/layuiadmin/layui/layui.js"></script>
<script src="/static/js/common.js" type="text/javascript"></script>

<script>
    layui.config({
        base: '/static/plugins/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'table'], function () {
        var $ = layui.$
            , form = layui.form
            , $ = layui.$

        form.on('radio(public)', function (data) {
            $('#hometop1').show();
            $('#passw-content').hide();
            $('#passw-content-confirm').hide();
            form.render();
        });
        form.on('radio(secret)', function (data) {
            $('#hometop1').show();
            $('#passw-content').hide();
            $('#passw-content-confirm').hide();
            form.render();
        });
        form.on('radio(passw)', function (data) {
            $('#hometop1').hide();
            $('#passw-content').show();
            $('#passw-content-confirm').show();
            form.render();
        });

    });
</script>
</body>
</html>