<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
          name="viewport">
    <link href="/static/plugins/layuiadmin/layui/css/layui.css" media="all" rel="stylesheet">
    <link href="/static/plugins/layuiadmin/plugins/mouseRightMenu.css" media="all" rel="stylesheet">
    <link href="/static/css/admin.css" media="all" rel="stylesheet">
    <title>文章标签</title>
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">文章标签</div>
                <div class="layui-card-body">
                    <div class="tags-content">
                        <ul>
                            <li th:each="tag:${tags}" th:attr="data-id=${tag.oid},data-text=${tag.content}">
                                <span th:text="${tag.content}"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-header">添加标签</div>
                <div class="layui-card-body">
                    <div class="layui-form-item">
                        <input class="layui-input" name="text" type="text" id="tags-add-text" autocomplete="off">
                    </div>
                    <div class="layui-form-item add-tags-btn">
                        <span>添加标签，可用逗号(,)分隔</span>
                        <input class="layui-btn" id="add-tags"
                               type="button" value="添加">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/plugins/layuiadmin/layui/layui.js"></script>
<script src="/static/js/common.js" type="text/javascript"></script>
<script>
    layui.config({
        base: '/static/plugins/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index'
        , mouseRightMenu: '/mouseRightMenu'
    }).use(['index', 'mouseRightMenu', 'layer'], function () {
        var $ = layui.jquery
            , layer = layui.layer
            , mouseRightMenu = layui.mouseRightMenu;

        var tags = $('.tags-content > ul > li');
        for (var i = 0; i < tags.length; i++) {
            var color = Math.random();
            var r = parseInt((color * (i + 1) * 1234) % 254);
            var g = parseInt((color * (i + 1) * 4321) % 254);
            var b = parseInt((color * (i + 1) * 2222) % 254);
            $(tags[i]).css("background-color", "rgba(" + r + "," + g + "," + b + ",0.1)")
            $(tags[i]).css("border", "  1px rgba(" + r + "," + g + "," + b + ",1) solid")
        }
        document.oncontextmenu = function () {
            return false;
        }

        $('.tags-content > ul > li').bind("contextmenu", function (e) {
            var data = {oid: $(this).data('id'), text: $(this).data('text')}
            var menu_data = [
                {'data': data, 'type': 1, 'title': '编辑'},
                {'data': data, 'type': 2, 'title': '删除'},

            ]
            mouseRightMenu.open(menu_data, false, function (d) {
                if (d.type == 1) {
                    var index = layer.open({
                        title: ['编辑标签', 'font-size:16px'],
                        type: 1,
                        closeBtn: 2,
                        skin: 'layui-layer-rim', //加上边框
                        area: ['320px', '200px'], //宽高
                        content: '<form id="tags-form" method="post"> ' +
                            '<input type="text" id="tagText" name="text" value="' + d.data.text + '" class="form-control add-tag-input">' +
                            '<span class="tags-tips" id="tags-tips"></span></form>' +
                            '<button class="layui-btn update-tag-btn" type="button" id="update-tag-btn">更新</button> ' +
                            '<button class="layui-btn layui-btn-primary cancel-tag-btn" id="cancel-tag-btn">取消</button>'
                    })
                    $('#update-tag-btn').click(function () {
                        var text = $('#tagText').val();
                        if (isEmpty(text)) {
                            $('#tags-tips').html("标签名不能为空")
                        } else if (text.length > 10) {
                            $('#tags-tips').html("标签名不得超过十个字符");
                        } else {

                            ajaxPost(
                                '/api/admin/tag/update',
                                JSON.stringify({tagText: text, oid: d.data.oid}),
                                "更新成功",
                                function () {
                                    location.reload();
                                }
                            );
                        }


                    })
                    $('#addbtncal').click(function () {
                        layer.close(layer.index)
                    })


                } else if (d.type == 2) {
                    alert_ask('确定要删除吗?', function () {
                        ajaxPost(
                            '/api/admin/tag/remove',
                            JSON.stringify({entityOid: d.data.oid}),
                            "删除成功",
                            function () {
                                location.reload();
                            }
                        );
                        // $a.css('display','none');
                        // layer.closeAll();
                    })
                }
            })
            return false;
        });


        $('#add-tags').click(function () {
            var text = $('#tags-add-text').val();
            if (text == null || $.trim(text) == '') {
                return false;
            }
            var tags = text.trim().split(',');
            for (var i in tags) {
                var tag = tags[i].trim();
                if (tags.length > 10) {
                    alert_fail("列表中标签名不得超过十个字符！");
                    return false;
                }
            }
            ajaxPost(
                '/api/admin/tag/add/list',
                JSON.stringify({tagList: tags}),
                "添加成功",
                function () {
                    location.reload();
                }
            );


        })

    })
</script>
</body>
</html>