<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>评论回复</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
          name="viewport">
    <link href="/static/plugins/layuiadmin/layui/css/layui.css" media="all" rel="stylesheet">
    <link href="/static/plugins/layuiadmin/style/admin.css" media="all" rel="stylesheet">
    <style>
        .artTitle:hover {
            color: blue;
        }

        .artTitle {
            cursor: pointer;
        }
    </style>
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="layui-form-item">
                    <label class="layui-form-label">文章标题</label>
                    <div class="layui-input-block">
                        <a class="layui-input artTitle" style="line-height: 40px"
                           target="_blank" th:href="'/admin/article/edit/'+${comm.articleOid}+'#art-comment'"
                           th:text="${comm.title}"></a>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">评论用户</label>
                    <div class="layui-input-block">
                        <input class="layui-input" disabled name="user" th:value="${comm.user}" type="text">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">评论者头像</label>
                    <div class="layui-input-block">
                        <img class="layui-upload-img" id="headImg" style="margin-left: 5px" th:src="${comm.headImg}"
                             width="50">

                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">评论者IP</label>
                    <div class="layui-input-block">
                        <input class="layui-input" disabled name="ip" th:value="${comm.ip}" type="text">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">评论日期</label>
                    <div class="layui-input-block">
                        <input class="layui-input" disabled name="date"
                               th:value="${#dates.format(comm.date, 'yyyy-MM-dd HH:mm:ss')}"
                               type="text">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">评论QQ</label>
                    <div class="layui-input-block">
                        <input class="layui-input" disabled name="qq" th:value="${comm.qq}" type="text">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">评论内容</label>
                    <div class="layui-input-block">
                        <textarea class="layui-textarea" disabled name="other" placeholder=""
                                  th:text="${comm.content}"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>