<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文章管理</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
          name="viewport">
    <link href="/static/plugins/layuiadmin/layui/css/layui.css" media="all" rel="stylesheet">
    <link href="/static/plugins/layuiadmin/style/admin.css" media="all" rel="stylesheet">

</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">文章标题</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" name="title" placeholder="请输入"
                               type="text">
                    </div>
                    <label class="layui-form-label">文章内容</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" name="text" placeholder="请输入"
                               type="text">
                    </div>
                    <label class="layui-form-label">文章类型</label>
                    <div class="layui-input-inline">
                        <select name="status" id="status" lay-verify="">
                            <option value="2">所有</option>
                            <option value="1">已发布</option>
                            <option value="0">草稿</option>
                        </select>
                    </div>

                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-art" data-type="reload" lay-filter="art-search"
                            lay-submit>
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-art layui-btn-danger" data-type="batchdel">移入回收站</button>
            </div>
            <table id="article-table" lay-filter="content-art"></table>
            <script id="table-content-art" type="text/html">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="quickEdit"><i
                        class="layui-icon layui-icon-reply-fill"></i>快速编辑</a>
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i
                        class="layui-icon layui-icon-form"></i>编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                        class="layui-icon layui-icon-delete"></i>移入回收站</a>
                {{#  if(d.status == 0){ }}
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="publish"><i
                        class="layui-icon layui-icon-release"></i>发布</a>
                {{#  } }}
            </script>
        </div>
    </div>
</div>

<script src="/static/plugins/layuiadmin/layui/layui.js"></script>
<script src="/static/js/common.js" type="text/javascript"></script>
<script th:inline="javascript">
    var select = document.getElementById("status");
    /*<![CDATA[*/
    var status = /*[[${status}]]*/'';
    /*]]>*/
    if (select) {
        select.value = status;
    }


</script>
<script th:inline="none">
    layui.config({
        base: '/static/plugins/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table'], function () {
        var admin = layui.admin
            , table = layui.table
            , $ = layui.$
            , form = layui.form;


        table.render({
            elem: '#article-table'
            , url: "/api/admin/article/effective/list"
            , cols: [[
                {type: 'checkbox', fixed: 'right'}
                , {type: 'numbers', width: 40, title: 'SEQ',}
                , {field: 'title', title: '文章标题', align: 'center'}
                , {field: 'author', width: 120, title: '作者', sort: true, align: 'center'}
                , {field: 'type', width: 170, title: '类型', sort: true, align: 'center'}
                , {field: 'publishDate', title: '发布时间', width: 200, align: 'center'}
                // , {field: 'modifiedDate', title: '最后修改时间', width: 200, align: 'center'}
                , {title: '操作', width: 360, align: 'left', fixed: 'right', toolbar: '#table-content-art'}

            ]]
            , page: true
            , text: {none: '无数据'}

        });

        //监听搜索
        form.on('submit(art-search)', function (data) {
            var field = data.field;
            //执行重载
            table.reload('article-table', {
                where: field
            });
        });

        //点击事件
        var active = {
            batchdel: function () {
                var checkStatus = table.checkStatus('article-table')
                    , checkData = checkStatus.data; //得到选中的数据

                if (checkData.length === 0) {
                    return layer.msg('请选择数据');
                }
                var entityOidArr = [];
                for (i in checkData) {
                    entityOidArr.push(checkData[i].oid);
                }

                layer.confirm('确定把这些文章移除到回收站吗？', function (index) {
                    ajaxPost(
                        "/api/admin/article/remove/recycle/list",
                        JSON.stringify({entityOidList: entityOidArr}),
                        "移除成功",
                        function () {
                            table.reload('article-table')
                        }
                    );
                });
            }
        }

        $('.layui-btn.layuiadmin-btn-art').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });


        //监听工具条
        table.on('tool(content-art)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('确定把这篇文章移除到回收站吗？', function (index) {
                    ajaxPost(
                        "/api/admin/article/remove/recycle",
                        JSON.stringify({entityOid: data.oid}),
                        "移除成功",
                        function () {
                            obj.del();
                            layer.close(index);
                        }
                    );

                });
            } else if (obj.event === 'quickEdit') {
                layer.open({
                    type: 2
                    , title: '快速编辑'
                    , content: '/admin/article/quick/edit/' + data.oid
                    , area: ['550px', '600px']
                    , btn: ['确定', '取消']
                    , yes: function (index, layero) {
                        var iframeWindow = window['layui-layer-iframe' + index]
                            , submitID = 'replyComm-submit'
                            , submit = layero.find('iframe').contents().find('#' + submitID);
                        var tipsTags = layero.find('iframe').contents().find('#pwd-tips-tags');
                        var tipsType = layero.find('iframe').contents().find('#pwd-tips-type');
                        var type = layero.find('iframe').contents().find('#type');
                        var tags = layero.find('iframe').contents().find('.tags:checked');
                        var comment = layero.find('iframe').contents().find('#isComment');
                        //监听提交
                        iframeWindow.layui.form.on('submit(' + submitID + ')', function (formData) {
                            var field = formData.field; //获取提交的字段

                            var artAuthor = field.author;
                            var artTitle = field.title;

                            if (type.val() == -1) {
                                tipsType.text('请选择类型').css('color', 'red').css('display', 'block');
                                return false;
                            }
                            var tagsId = [];
                            for (var i = 0; i < tags.length; i++) {
                                tagsId[i] = tags.eq(i).val()
                            }
                            // console.log(data.oid)
                            // console.log(field.title)
                            // console.log(field.author)
                            // console.log(tagsId)
                            // console.log(type.val())
                            // console.log(field.isPublic)
                            // console.log(field.passwContent)
                            // console.log(isComment )
                            //提交 Ajax 成功后，静态更新表格中的数据
                            var isComment = 0;
                            if (comment.prop('checked')) {
                                isComment = 1;

                            }
                            ajaxPost(
                                '/api/admin/article/info/update',
                                JSON.stringify({
                                    artOid: data.oid,
                                    title: field.title,
                                    author: field.author,
                                    tags: tagsId,
                                    type: type.val(),
                                    visitType: field.isPublic,
                                    password: field.passwContent,
                                    isComment: isComment,
                                    subToken: field.subToken
                                }),
                                "更新成功",
                                function () {
                                    table.reload('article-table'); //数据刷新
                                    layer.close(index); //关闭弹层
                                }
                            );


                        });

                        submit.trigger('click');
                    }
                    , success: function (layero, index) {

                    }
                });
            } else if (obj.event === 'publish') {
                layer.confirm('确定把这篇文章发布吗？', function (index) {
                    ajaxPost(
                        "/api/admin/article/draft/status/publish",
                        JSON.stringify({entityOid: data.oid}),
                        "发布成功",
                        function () {
                            table.reload('article-table');
                        }
                    );

                });
            } else if (obj.event === 'edit') {
                top.layui.index.openTabsPage("/admin/article/edit/" + data.oid, '文章编辑');
            }

        });


    });
</script>
</body>
</html>