<title>回收站</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>文章管理</cite></a>
        <a><cite>回收站</cite></a>
    </div>
</div>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">文章标题</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" name="title" placeholder="请输入"
                               type="text">
                    </div>
                    <label class="layui-form-label">文章内容</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" name="text" placeholder="请输入"
                               type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-art" data-type="reload" lay-filter="art-search"
                            lay-submit>
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-art layui-btn-danger" data-type="batchdel">删除</button>
                <button class="layui-btn layuiadmin-btn-art " data-type="restore">恢复至草稿</button>
            </div>
            <table id="article-table" lay-filter="content-art"></table>
            <script id="table-content-art" type="text/html">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="view"><i
                        class="layui-icon layui-icon-reply-fill"></i>查看</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                        class="layui-icon layui-icon-delete"></i>删除</a>
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="restore"><i
                        class="layui-icon layui-icon-export"></i>恢复至草稿</a>
            </script>
        </div>
    </div>
</div>


<script>
    layui.use('articleRecycleBin', layui.factory('articleRecycleBin')).use(['admin', 'articleRecycleBin', 'form', 'table'], function () {

    })
</script>