<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jianwoo.blog.dao.biz.mapper.ArticleBizMapper">
    <resultMap id="BaseResultMap" type="cn.jianwoo.blog.entity.Article">
        <id column="OID" jdbcType="BIGINT" property="oid"/>
        <result column="AUTHOR" jdbcType="VARCHAR" property="author"/>
        <result column="PUSH_TIME" jdbcType="TIMESTAMP" property="pushTime"/>
        <result column="TITLE" jdbcType="VARCHAR" property="title"/>
        <result column="MODIFIED_TIME" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="MENU_ID" jdbcType="INTEGER" property="menuId"/>
        <result column="READ_COUNT" jdbcType="BIGINT" property="readCount"/>
        <result column="PRAISE_COUNT" jdbcType="BIGINT" property="praiseCount"/>
        <result column="IS_COMMENT" jdbcType="CHAR" property="isComment"/>
        <result column="IMG_SRC" jdbcType="VARCHAR" property="imgSrc"/>
        <result column="ACCESS_TYPE" jdbcType="VARCHAR" property="accessType" />
        <result column="COMMENT_COUNT" jdbcType="BIGINT" property="commentCount"/>
        <result column="STATUS" jdbcType="VARCHAR" property="status"/>
        <result column="PASSWORD" jdbcType="VARCHAR" property="password"/>
        <result column="DEL_TIME" jdbcType="TIMESTAMP" property="delTime"/>
        <result column="REMOVE_RECYCLE_TIME" jdbcType="TIMESTAMP" property="removeRecycleTime"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.jianwoo.blog.entity.ArticleWithBLOBs">
        <result column="CONTENT" jdbcType="LONGVARCHAR" property="content"/>
        <result column="TEXT" jdbcType="LONGVARCHAR" property="text"/>
    </resultMap>
    <resultMap id="ResultMapWithExt" extends="BaseResultMap" type="cn.jianwoo.blog.entity.extension.ArticleExt">
        <result column="TITLE" jdbcType="LONGVARCHAR" property="title"/>
        <result column="TYPE_NAME" jdbcType="VARCHAR" property="typeName"/>
    </resultMap>

    <sql id="Base_Column_List">
        OID, AUTHOR, PUSH_TIME, TITLE, MODIFIED_TIME, MENU_ID, READ_COUNT, PRAISE_COUNT,
    IS_COMMENT, IMG_SRC, ACCESS_TYPE, COMMENT_COUNT, `STATUS`, `PASSWORD`, DEL_TIME, REMOVE_RECYCLE_TIME,
    CREATE_TIME, UPDATE_TIME
    </sql>
    <sql id="Blob_Column_List">
        CONTENT, `TEXT`
    </sql>

    <select id="countArtsByStatus" resultType="int" parameterType="java.lang.String">
        SELECT COUNT(1) FROM article WHERE STATUS IN
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectArticleByStatusAndLimit" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        <!--        ,-->
        <!--        <include refid="Blob_Column_List"/>-->
        from article
        WHERE
        <if test="status != null">
            STATUS= #{status,jdbcType=INTEGER}
        </if>
        ORDER BY MODIFIED_TIME DESC
        <if test="n != null">
            LIMIT #{n,jdbcType=INTEGER}
        </if>
    </select>

    <select id="selectPublishedArtsByKeyword" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        <!--        ,-->
        <!--        <include refid="Blob_Column_List"/>-->
        FROM article WHERE STATUS= '90' AND (TEXT LIKE CONCAT('%',#{keyword,jdbcType=VARCHAR},'%') OR TITLE LIKE
        CONCAT('%',#{keyword,jdbcType=VARCHAR},'%')) ORDER BY MODIFIED_TIME DESC ;
    </select>

    <select id="selectPublishedNewestArts" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        <!--        ,-->
        <!--        <include refid="Blob_Column_List"/>-->
        FROM article WHERE STATUS = '90' AND ACCESS_TYPE != '10' ORDER BY MODIFIED_TIME DESC LIMIT #{limit,jdbcType=INTEGER}
    </select>

    <select id="selectPublishedHotArts" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        <!--        ,-->
        <!--        <include refid="Blob_Column_List"/>-->
        FROM article WHERE STATUS = '90' AND ACCESS_TYPE != '10' ORDER BY COMMENT_COUNT,PRAISE_COUNT DESC LIMIT #{limit,jdbcType=INTEGER}
    </select>

    <select id="selectArticleListByStatus" parameterType="cn.jianwoo.blog.entity.query.ArticleQuery"
            resultMap="ResultMapWithExt">
        SELECT A.TITLE,A.AUTHOR,A.OID,A.PUSH_TIME,MODIFIED_TIME,M.NAME AS TYPE_NAME,A.STATUS
        FROM ARTICLE A LEFT JOIN MENU M ON M.OID=A.MENU_ID
        WHERE STATUS IN
        <foreach item="item" collection="statusParams" separator="," open="(" close=")" index="">
            #{item, jdbcType=INTEGER}
        </foreach>
        <if test="title != null">
            AND A.TITLE LIKE CONCAT('%',#{title,jdbcType=VARCHAR},'%')
        </if>
        <if test="text != null">
            AND A.TEXT LIKE CONCAT('%',#{text,jdbcType=VARCHAR},'%')
        </if>

        <if test="orderByClause == null">
            ORDER BY MODIFIED_TIME DESC
        </if>
        <if test="orderByClause != null">
            ORDER BY #{orderByClause}
        </if>

    </select>

    <update id="updateArticleCommentCnt">
        UPDATE ARTICLE
        SET
            COMMENT_COUNT = COMMENT_COUNT + 1,
            UPDATE_TIME = NOW()
        WHERE
            OID = #{artOid,jdbcType=BIGINT};
    </update>

    <update id="updateArticlePraiseCnt">
        UPDATE ARTICLE
        SET
            PRAISE_COUNT = PRAISE_COUNT + 1,
            UPDATE_TIME  = NOW()
        WHERE
            OID = #{artOid,jdbcType=BIGINT};
    </update>


    <update id="restoreFromRecycle" parameterType="cn.jianwoo.blog.entity.Article">
        update article
        <set>
            <if test="status != null">
                `STATUS` = #{status,jdbcType=VARCHAR},
            </if>
            REMOVE_RECYCLE_TIME = #{removeRecycleTime,jdbcType=TIMESTAMP},
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where OID = #{oid,jdbcType=BIGINT}
    </update>



    <select id="selectArticleListMain" parameterType="map"
            resultMap="ResultMapWithExt">
        SELECT A.TITLE,A.AUTHOR,A.OID,A.ACCESS_TYPE,A.PUSH_TIME,A.COMMENT_COUNT,A.TEXT,A.IMG_SRC,
               A.PRAISE_COUNT,A.READ_COUNT,A.MODIFIED_TIME,M.NAME AS TYPE_NAME
        FROM ARTICLE A
            LEFT JOIN MENU M ON M.OID=A.MENU_ID
        WHERE STATUS = '90'

        <if test="param.title != null">
            AND A.TITLE LIKE CONCAT('%',#{param.title,jdbcType=VARCHAR},'%')
        </if>
        <if test="param.text != null">
            AND A.TEXT LIKE CONCAT('%',#{param.text,jdbcType=VARCHAR},'%')
        </if>
        <if test="param.category != null">
            AND A.MENU_ID = #{param.category, jdbcType=INTEGER}
        </if>
        <if test="param.tags != null">
        AND A.OID IN (
            SELECT T.ARTICLE_OID FROM ARTICLE_TAGS T WHERE T.TAGS_OID IN
            <foreach item="item" collection="param.tags" separator="," open="(" close=")" index="">
                #{param.item, jdbcType=INTEGER}
            </foreach>
            )
        </if>
        <if test="!isPrivate">
            AND A.ACCESS_TYPE != '10'
        </if>
        <if test="param.orderByClause == null">
            ORDER BY MODIFIED_TIME DESC
        </if>
        <if test="param.orderByClause != null">
            ORDER BY #{param.orderByClause}
        </if>

    </select>

</mapper>