<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jianwoo.blog.dao.biz.mapper.ArticleAccessBizMapper">
    <resultMap id="BaseResultMap" type="cn.jianwoo.blog.entity.ArticleAccess">
        <id column="OID" jdbcType="BIGINT" property="oid" />
        <result column="ACCESS_IP" jdbcType="VARCHAR" property="accessIp" />
        <result column="ACCESS_REGION" jdbcType="VARCHAR" property="accessRegion" />
        <result column="ARTICLE_OID" jdbcType="BIGINT" property="articleOid" />
        <result column="ARTICLE_TITLE" jdbcType="VARCHAR" property="articleTitle" />
        <result column="ACCESS_TIME" jdbcType="TIMESTAMP" property="accessTime" />
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <resultMap id="ResultResultMapWithExt" type="cn.jianwoo.blog.entity.extension.AccessExt">
        <id column="OID" property="oid" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result column="ACCESS_IP" jdbcType="VARCHAR" property="accessIp" javaType="java.lang.String"/>
        <result column="ARTICLE_OID" property="articleOid" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result column="ACCESS_TIME" jdbcType="TIMESTAMP" property="accessTime" javaType="java.util.Date"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" javaType="java.util.Date"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" javaType="java.util.Date"/>
        <result column="ARTICLE_TITLE" property="articleTitle" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="ACCESS_REGION" jdbcType="VARCHAR" property="accessRegion" javaType="java.lang.String"/>


    </resultMap>
    <sql id="Base_Column_List">
        OID , ACCESS_IP, ACCESS_REGION, ARTICLE_OID, ACCESS_TIME, CREATE_TIME, UPDATE_TIME
    </sql>
    <sql id="Ext_Column_List">
        A.OID , A.ACCESS_IP, A.ACCESS_REGION, A.ARTICLE_OID, A.ACCESS_TIME, A.CREATE_TIME, A.UPDATE_TIME
    </sql>
    <select id="selectRecentAccess" resultMap="ResultResultMapWithExt" parameterType="java.lang.Integer">
        SELECT
        <include refid="Ext_Column_List"/>
        ,
        A.ARTICLE_TITLE FROM ARTICLE_ACCESS A
        ORDER BY A.UPDATE_TIME DESC
        <if test="limit != null">
            LIMIT #{limit,jdbcType=INTEGER}
        </if>
    </select>
</mapper>