<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jianwoo.blog.dao.biz.mapper.CommentBizMapper">
    <resultMap id="BaseResultMap" type="cn.jianwoo.blog.entity.Comment">
        <id column="OID" jdbcType="BIGINT" property="oid"/>
        <result column="ARTICLE_OID" jdbcType="BIGINT" property="articleOid"/>
        <result column="ARTICLE_TITLE" jdbcType="VARCHAR" property="articleTitle"/>
        <result column="USER_ID" jdbcType="VARCHAR" property="userId"/>
        <result column="USER_NAME" jdbcType="VARCHAR" property="userName"/>
        <result column="USER_NICK" jdbcType="VARCHAR" property="userNick"/>
        <result column="CLIENT_IP" jdbcType="VARCHAR" property="clientIp"/>
        <result column="USER_REGION" jdbcType="VARCHAR" property="userRegion"/>
        <result column="COMMENT_TIME" jdbcType="TIMESTAMP" property="commentTime"/>
        <result column="PARENT_OID" jdbcType="BIGINT" property="parentOid"/>
        <result column="REPLY_ROOT_OID" jdbcType="BIGINT" property="replyRootOid"/>
        <result column="REPLY_TO_USER_ID" jdbcType="VARCHAR" property="replyToUserId"/>
        <result column="REPLY_TO_USER_NAME" jdbcType="VARCHAR" property="replyToUserName"/>
        <result column="PRAISE_COUNT" jdbcType="BIGINT" property="praiseCount"/>
        <result column="FLOOR_NUMBER" jdbcType="BIGINT" property="floorNumber"/>
        <result column="REPLY_COUNT" jdbcType="BIGINT" property="replyCount" />
        <result column="TOTAL_REPLY_COUNT" jdbcType="BIGINT" property="totalReplyCount" />
        <result column="CONTACT_QQ" jdbcType="VARCHAR" property="contactQq"/>
        <result column="CONTACT_WECHAT" jdbcType="VARCHAR" property="contactWechat"/>
        <result column="CONTACT_WEIBO" jdbcType="VARCHAR" property="contactWeibo"/>
        <result column="CONTACT_TEL" jdbcType="VARCHAR" property="contactTel"/>
        <result column="CONTACT_EMAIL" jdbcType="VARCHAR" property="contactEmail" />
        <result column="AVATAR_SRC" jdbcType="VARCHAR" property="avatarSrc"/>
        <result column="ART_DEL_STATUS" jdbcType="VARCHAR" property="artDelStatus"/>
        <result column="READ_STATUS" jdbcType="VARCHAR" property="readStatus"/>
        <result column="IS_DELETE" jdbcType="CHAR" property="isDelete" />
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <resultMap id="ResultMapWithExt" extends="BaseResultMap" type="cn.jianwoo.blog.entity.extension.CommentExt">
        <result column="ARTICLE_TITLE" property="articleTitle" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="REPLY_TO" property="parentUserName" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="PRAISE_OID" property="praiseOid" jdbcType="BIGINT" javaType="java.lang.Long"/>
    </resultMap>
    <sql id="Base_Column_List">
        OID
                , ARTICLE_OID, USER_NAME, CLIENT_IP, USER_REGION, COMMENT_TIME, PARENT_OID, PRAISE_COUNT,
    CONTACT_QQ, CONTACT_WECHAT, CONTACT_WEIBO, CONTACT_TEL, AVATAR_SRC, ART_DEL_STATUS,
    READ_STATUS, CREATE_TIME, UPDATE_TIME
    </sql>
    <sql id="Blob_Column_List">
        CONTENT
    </sql>
    <sql id="Ext_Column_List">
        C
                .
                OID
                , C.ARTICLE_OID, C.USER_ID, C.USER_NAME, C.USER_NICK, C.CLIENT_IP, C.USER_REGION, C.COMMENT_TIME,
        C.PARENT_OID, C.PRAISE_COUNT, C.FLOOR_NUMBER, C.REPLY_COUNT, C.TOTAL_REPLY_COUNT, C.REPLY_ROOT_OID, C.REPLY_TO_USER_ID,C.REPLY_TO_USER_NAME,
        C.REPLY_TO_USER_NICK, C.CONTACT_QQ, C.CONTACT_WECHAT, C.CONTACT_WEIBO,
        C.CONTACT_TEL, C.CONTACT_EMAIL, C.AVATAR_SRC, C.ART_DEL_STATUS, C.READ_STATUS, C.CREATE_TIME, C.UPDATE_TIME,
        C.CONTENT, C.IS_DELETE
    </sql>
    <select id="selectLastComment" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from COMMENTS
        ORDER BY OID DESC LIMIT 1;
    </select>

    <select id="selectRecentComments" parameterType="java.lang.Integer" resultMap="ResultMapWithExt">
        SELECT
        <include refid="Ext_Column_List"/>
        ,
        C.ARTICLE_TITLE
        FROM
        COMMENTS C
        WHERE IS_DELETE = '0'
        ORDER BY
        C.UPDATE_TIME DESC
        LIMIT #{limit,jdbcType=INTEGER}
    </select>

    <select id="countWithUnreadComm" resultType="int">
        SELECT COUNT(1)
        FROM COMMENTS
        WHERE ART_DEL_STATUS != '91'
          AND IS_DELETE = '0'
          AND IS_READ = 0
    </select>

    <select id="countWithCommentByArt" resultType="int" parameterType="java.lang.Long">
        select count(1)
        from COMMENTS
        WHERE IS_DELETE = '0'
          AND ARTICLE_OID = #{articleOid,jdbcType=BIGINT}
    </select>

    <select id="countAllComments" resultType="int">
        select count(1)
        from COMMENTS
        WHERE IS_DELETE = '0'
    </select>

    <select id="selectCommentsPageListByArticleOid" parameterType="cn.jianwoo.blog.entity.query.CommentPageQuery"
            resultMap="ResultMapWithExt">
        SELECT
        <include refid="Ext_Column_List"/>
        ,
        C.ARTICLE_TITLE,
        P.OID AS PRAISE_OID
        FROM
        COMMENTS C LEFT JOIN BIZ_PRAISE P ON P.TYPE = '20' AND P.BIZ_OID = C.OID AND P.USER_IP = #{currentIp}
        WHERE
        C.ARTICLE_OID = #{artOid,jdbcType=BIGINT}
        <!--        AND C.IS_DELETE = '0'                      -->
        <if test="parentOid != null">
            AND C.PARENT_OID = #{parentOid}
        </if>
        <if test="replyRootOid != null">
            AND C.REPLY_ROOT_OID = #{replyRootOid}
            AND C.IS_DELETE = '0'
        </if>
        ORDER BY
        <if test="parentOid == 0">
            <if test="orderWay == 10">
                C.TOTAL_REPLY_COUNT DESC,
                C.PRAISE_COUNT DESC,
                C.COMMENT_TIME ASC
            </if>
            <if test="orderWay == 20">
                C.COMMENT_TIME DESC,
                C.TOTAL_REPLY_COUNT DESC,
                C.PRAISE_COUNT ASC
            </if>
        </if>
        <if test="parentOid != 0">
            C.COMMENT_TIME ASC
        </if>

        <if test="isLimit == true">
            LIMIT #{start}, #{rows}
        </if>
    </select>


    <select id="selectCommentsCountByArticleOid" parameterType="cn.jianwoo.blog.entity.query.CommentPageQuery"
            resultType="java.lang.Long">
        SELECT
        COUNT(1)
        FROM
        COMMENTS C
        WHERE
        C.ARTICLE_OID = #{artOid,jdbcType=BIGINT}
        AND C.IS_DELETE = '0'

    </select>


    <select id="selectCommentsRootCountByArticleOid" parameterType="cn.jianwoo.blog.entity.query.CommentPageQuery"
            resultType="java.lang.Long">
        SELECT COUNT(1)
        FROM COMMENTS C
        WHERE C.PARENT_OID = 0
          AND C.ARTICLE_OID = #{artOid,jdbcType=BIGINT}
          AND C.IS_DELETE = '0'

    </select>


    <select id="selectCommentsExtByArticleOid" parameterType="Long" resultMap="ResultMapWithExt">
        SELECT
        <include refid="Ext_Column_List"/>
        ,
        C.ARTICLE_TITLE
        FROM
        COMMENTS C
        WHERE
        C.ARTICLE_OID = #{artOid,jdbcType=BIGINT}
        AND C.IS_DELETE = '0'
        ORDER BY
        C.UPDATE_TIME DESC
    </select>

    <select id="selectAllCommentsExt" resultMap="ResultMapWithExt"
            parameterType="cn.jianwoo.blog.entity.query.CommentQuery">
        SELECT
        C.OID,
        C.USER_ID,
        C.USER_NAME,
        C.USER_NICK,
        C.COMMENT_TIME,
        C.CONTENT,
        C.ARTICLE_OID,
        C.ARTICLE_TITLE,
        C.REPLY_TO_USER_ID,
        C.REPLY_TO_USER_NAME,
        C.ART_DEL_STATUS,
        C.IS_DELETE,
        IF (
        C. PARENT_OID = -1,
        '文章',
        C. REPLY_TO_USER_NICK
        ) AS REPLY_TO_USER_NICK
        FROM
        COMMENTS C
        <where>
            <if test="title != null">
                C.ARTICLE_TITLE LIKE CONCAT('%',#{title,jdbcType=VARCHAR},'%')
            </if>
            <if test="readStatus != null">
                AND C.READ_STATUS = #{readStatus}
            </if>

            <if test="oid != null">
                AND C.OID = #{oid}
            </if>
            AND C.IS_DELETE = '0'
        </where>

        <if test="orderByClause == null">
            ORDER BY
            C.COMMENT_TIME DESC
        </if>
        <if test="orderByClause != null">
            ORDER BY #{orderByClause}
        </if>
    </select>
    <select id="selectCommentExtByOid" resultMap="ResultMapWithExt" parameterType="java.lang.Long">
        SELECT
        <include refid="Ext_Column_List"/>
        ,
        C.ARTICLE_TITLE
        FROM COMMENTS C
        WHERE C.OID = #{oid,jdbcType=BIGINT}
        AND IS_DELETE = '0';
    </select>

    <update id="updateCommentPraiseCnt">
        UPDATE COMMENTS
        SET PRAISE_COUNT = PRAISE_COUNT + 1
        WHERE OID = #{oid,jdbcType=BIGINT}
          AND IS_DELETE = '0';
    </update>

    <update id="updateCommentReplyCnt">
        UPDATE COMMENTS
        <if test="optType == '10'">
            SET REPLY_COUNT = REPLY_COUNT + 1
        </if>
        <if test="optType == '40'">
            SET REPLY_COUNT = REPLY_COUNT - 1
        </if>
        WHERE OID = #{oid,jdbcType=BIGINT}
<!--          AND IS_DELETE = '0';-->
    </update>

    <update id="updateCommentTotalReplyCnt">
        UPDATE COMMENTS
        <if test="optType == '10'">
            SET TOTAL_REPLY_COUNT = TOTAL_REPLY_COUNT + 1
        </if>
        <if test="optType == '40'">
            SET TOTAL_REPLY_COUNT = TOTAL_REPLY_COUNT - 1
        </if>
        WHERE OID = #{oid,jdbcType=BIGINT}
<!--          AND IS_DELETE = '0';-->
    </update>
</mapper>