<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jianwoo.blog.dao.biz.mapper.TagsBizMapper">
    <resultMap id="BaseResultMap" type="cn.jianwoo.blog.entity.Tags">
        <constructor>
            <idArg column="OID" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="CONTENT" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="CREATE_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="UPDATE_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        </constructor>
    </resultMap>
    <resultMap id="ResultResultMapWithExt" type="cn.jianwoo.blog.entity.extension.ArticleTagsExt">
        <result column="OID" property="oid" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result column="CONTENT" property="content" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="ARTICLE_OID" property="artOid" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result column="CREATE_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="UPDATE_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    </resultMap>
    <sql id="Base_Column_List">
        OID , CONTENT, CREATE_DATE, UPDATE_DATE
    </sql>
    <select id="selectTagsByArtOid" parameterType="java.lang.Long" resultMap="ResultResultMapWithExt">
        SELECT `T`.*, `A`.`ARTICLE_OID`
        FROM
            `TAGS` `T`
                LEFT JOIN `ARTICLE_TAGS` `A` ON `A`.`TAGS_OID` = `T`.`OID`
        WHERE
            `A`.`ARTICLE_OID` = #{artOid,jdbcType=BIGINT}
    </select>

    <select id="countAllTags" resultType="int">
        SELECT COUNT(1)
        FROM
            `TAGS`
    </select>
</mapper>