<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jianwoo.blog.dao.biz.mapper.VisitBizMapper">
    <resultMap id="BaseResultMap" type="cn.jianwoo.blog.entity.Visit">
        <constructor>
            <idArg column="OID" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="IP" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="ARTICLE_OID" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="VISIT_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="CREATE_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="UPDATE_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="AREA" jdbcType="VARCHAR" javaType="java.lang.String"/>

        </constructor>
    </resultMap>
    <resultMap id="ResultResultMapWithExt" type="cn.jianwoo.blog.entity.extension.VisitExt">
        <id column="OID" property="oid" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result column="IP" property="ip" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="ARTICLE_OID" property="articleOid" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result column="VISIT_DATE" property="visitDate" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="TITLE" property="title" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="AREA" jdbcType="VARCHAR" property="area" javaType="java.lang.String"/>

    </resultMap>
    <sql id="Base_Column_List">
        OID
        , IP, AREA, ARTICLE_OID, VISIT_DATE, CREATE_DATE, UPDATE_DATE
    </sql>

    <select id="selectRecentVisit" resultMap="ResultResultMapWithExt" parameterType="java.lang.Integer">
        SELECT V.* ,A.TITLE FROM VISIT V INNER JOIN ARTICLE A ON A.OID=V.ARTICLE_OID
        ORDER BY V.UPDATE_DATE DESC
        <if test="limit != null">
            LIMIT #{limit,jdbcType=INTEGER}
        </if>
    </select>
</mapper>