<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jianwoo.blog.dao.biz.mapper.VisitBizMapper">
    <resultMap id="BaseResultMap" type="cn.jianwoo.blog.entity.Visit">
        <id column="OID" jdbcType="BIGINT" property="oid"/>
        <result column="VISIT_IP" jdbcType="VARCHAR" property="visitIp"/>
        <result column="VISIT_AREA" jdbcType="VARCHAR" property="visitArea"/>
        <result column="ARTICLE_OID" jdbcType="BIGINT" property="articleOid"/>
        <result column="VISIT_TIME" jdbcType="TIMESTAMP" property="visitTime"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <resultMap id="ResultResultMapWithExt" type="cn.jianwoo.blog.entity.extension.VisitExt">
        <id column="OID" property="oid" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result column="VISIT_IP" jdbcType="VARCHAR" property="visitIp" javaType="java.lang.String"/>
        <result column="ARTICLE_OID" property="articleOid" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result column="VISIT_TIME" jdbcType="TIMESTAMP" property="visitTime" javaType="java.util.Date"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" javaType="java.util.Date"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" javaType="java.util.Date"/>
        <result column="TITLE" property="title" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="VISIT_AREA" jdbcType="VARCHAR" property="visitArea" javaType="java.lang.String"/>


    </resultMap>
    <sql id="Base_Column_List">
        OID , VISIT_IP, VISIT_AREA, ARTICLE_OID, VISIT_TIME, CREATE_TIME, UPDATE_TIME
    </sql>
    <sql id="Ext_Column_List">
        V.OID , V.VISIT_IP, V.VISIT_AREA, V.ARTICLE_OID, V.VISIT_TIME, V.CREATE_TIME, V.UPDATE_TIME
    </sql>
    <select id="selectRecentVisit" resultMap="ResultResultMapWithExt" parameterType="java.lang.Integer">
        SELECT
        <include refid="Ext_Column_List"/>
        ,
        A.TITLE FROM VISIT V INNER JOIN ARTICLE A ON A.OID=V.ARTICLE_OID
        ORDER BY V.UPDATE_TIME DESC
        <if test="limit != null">
            LIMIT #{limit,jdbcType=INTEGER}
        </if>
    </select>
</mapper>