<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jianwoo.blog.dao.base.mapper.WebconfMapper">
  <resultMap id="BaseResultMap" type="cn.jianwoo.blog.entity.Webconf">
    <id column="KEY" jdbcType="VARCHAR" property="key" />
    <result column="DESC" jdbcType="VARCHAR" property="desc" />
    <result column="CFG_TYPE" jdbcType="VARCHAR" property="cfgType" />
    <result column="VALUE_TYPE" jdbcType="VARCHAR" property="valueType" />
    <result column="STRING_VALUE" jdbcType="VARCHAR" property="stringValue" />
    <result column="INT_VALUE" jdbcType="INTEGER" property="intValue" />
    <result column="FLOAT_VALUE" jdbcType="DECIMAL" property="floatValue" />
    <result column="BOOLEAN_VALUE" jdbcType="CHAR" property="booleanValue" />
    <result column="DATE_VALUE" jdbcType="TIMESTAMP" property="dateValue" />
    <result column="VALID" jdbcType="CHAR" property="valid" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    `KEY`, `DESC`, CFG_TYPE, VALUE_TYPE, STRING_VALUE, INT_VALUE, FLOAT_VALUE, BOOLEAN_VALUE, 
    DATE_VALUE, `VALID`, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByExample" parameterType="cn.jianwoo.blog.entity.example.WebconfExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from WEBCONF
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="MySQLDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from WEBCONF
    where `KEY` = #{key,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from WEBCONF
    where `KEY` = #{key,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.jianwoo.blog.entity.example.WebconfExample">
    delete from WEBCONF
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.jianwoo.blog.entity.Webconf">
    insert into WEBCONF (`KEY`, `DESC`, CFG_TYPE, 
      VALUE_TYPE, STRING_VALUE, INT_VALUE, 
      FLOAT_VALUE, BOOLEAN_VALUE, DATE_VALUE, 
      `VALID`, CREATE_TIME, UPDATE_TIME
      )
    values (#{key,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}, #{cfgType,jdbcType=VARCHAR}, 
      #{valueType,jdbcType=VARCHAR}, #{stringValue,jdbcType=VARCHAR}, #{intValue,jdbcType=INTEGER}, 
      #{floatValue,jdbcType=DECIMAL}, #{booleanValue,jdbcType=CHAR}, #{dateValue,jdbcType=TIMESTAMP}, 
      #{valid,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.jianwoo.blog.entity.Webconf">
    insert into WEBCONF
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="key != null">
        `KEY`,
      </if>
      <if test="desc != null">
        `DESC`,
      </if>
      <if test="cfgType != null">
        CFG_TYPE,
      </if>
      <if test="valueType != null">
        VALUE_TYPE,
      </if>
      <if test="stringValue != null">
        STRING_VALUE,
      </if>
      <if test="intValue != null">
        INT_VALUE,
      </if>
      <if test="floatValue != null">
        FLOAT_VALUE,
      </if>
      <if test="booleanValue != null">
        BOOLEAN_VALUE,
      </if>
      <if test="dateValue != null">
        DATE_VALUE,
      </if>
      <if test="valid != null">
        `VALID`,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="cfgType != null">
        #{cfgType,jdbcType=VARCHAR},
      </if>
      <if test="valueType != null">
        #{valueType,jdbcType=VARCHAR},
      </if>
      <if test="stringValue != null">
        #{stringValue,jdbcType=VARCHAR},
      </if>
      <if test="intValue != null">
        #{intValue,jdbcType=INTEGER},
      </if>
      <if test="floatValue != null">
        #{floatValue,jdbcType=DECIMAL},
      </if>
      <if test="booleanValue != null">
        #{booleanValue,jdbcType=CHAR},
      </if>
      <if test="dateValue != null">
        #{dateValue,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.jianwoo.blog.entity.example.WebconfExample" resultType="java.lang.Long">
    select count(*) from WEBCONF
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update WEBCONF
    <set>
      <if test="record.key != null">
        `KEY` = #{record.key,jdbcType=VARCHAR},
      </if>
      <if test="record.desc != null">
        `DESC` = #{record.desc,jdbcType=VARCHAR},
      </if>
      <if test="record.cfgType != null">
        CFG_TYPE = #{record.cfgType,jdbcType=VARCHAR},
      </if>
      <if test="record.valueType != null">
        VALUE_TYPE = #{record.valueType,jdbcType=VARCHAR},
      </if>
      <if test="record.stringValue != null">
        STRING_VALUE = #{record.stringValue,jdbcType=VARCHAR},
      </if>
      <if test="record.intValue != null">
        INT_VALUE = #{record.intValue,jdbcType=INTEGER},
      </if>
      <if test="record.floatValue != null">
        FLOAT_VALUE = #{record.floatValue,jdbcType=DECIMAL},
      </if>
      <if test="record.booleanValue != null">
        BOOLEAN_VALUE = #{record.booleanValue,jdbcType=CHAR},
      </if>
      <if test="record.dateValue != null">
        DATE_VALUE = #{record.dateValue,jdbcType=TIMESTAMP},
      </if>
      <if test="record.valid != null">
        `VALID` = #{record.valid,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update WEBCONF
    set `KEY` = #{record.key,jdbcType=VARCHAR},
      `DESC` = #{record.desc,jdbcType=VARCHAR},
      CFG_TYPE = #{record.cfgType,jdbcType=VARCHAR},
      VALUE_TYPE = #{record.valueType,jdbcType=VARCHAR},
      STRING_VALUE = #{record.stringValue,jdbcType=VARCHAR},
      INT_VALUE = #{record.intValue,jdbcType=INTEGER},
      FLOAT_VALUE = #{record.floatValue,jdbcType=DECIMAL},
      BOOLEAN_VALUE = #{record.booleanValue,jdbcType=CHAR},
      DATE_VALUE = #{record.dateValue,jdbcType=TIMESTAMP},
      `VALID` = #{record.valid,jdbcType=CHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.jianwoo.blog.entity.Webconf">
    update WEBCONF
    <set>
      <if test="desc != null">
        `DESC` = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="cfgType != null">
        CFG_TYPE = #{cfgType,jdbcType=VARCHAR},
      </if>
      <if test="valueType != null">
        VALUE_TYPE = #{valueType,jdbcType=VARCHAR},
      </if>
      <if test="stringValue != null">
        STRING_VALUE = #{stringValue,jdbcType=VARCHAR},
      </if>
      <if test="intValue != null">
        INT_VALUE = #{intValue,jdbcType=INTEGER},
      </if>
      <if test="floatValue != null">
        FLOAT_VALUE = #{floatValue,jdbcType=DECIMAL},
      </if>
      <if test="booleanValue != null">
        BOOLEAN_VALUE = #{booleanValue,jdbcType=CHAR},
      </if>
      <if test="dateValue != null">
        DATE_VALUE = #{dateValue,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        `VALID` = #{valid,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where `KEY` = #{key,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.jianwoo.blog.entity.Webconf">
    update WEBCONF
    set `DESC` = #{desc,jdbcType=VARCHAR},
      CFG_TYPE = #{cfgType,jdbcType=VARCHAR},
      VALUE_TYPE = #{valueType,jdbcType=VARCHAR},
      STRING_VALUE = #{stringValue,jdbcType=VARCHAR},
      INT_VALUE = #{intValue,jdbcType=INTEGER},
      FLOAT_VALUE = #{floatValue,jdbcType=DECIMAL},
      BOOLEAN_VALUE = #{booleanValue,jdbcType=CHAR},
      DATE_VALUE = #{dateValue,jdbcType=TIMESTAMP},
      `VALID` = #{valid,jdbcType=CHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where `KEY` = #{key,jdbcType=VARCHAR}
  </update>
  <sql id="MySQLDialectSuffix">
    <if test="start != null and rows != null">
      <![CDATA[  limit #{start},#{rows} ]]>
    </if>
  </sql>
</mapper>